*{
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    color: blue;
}
span{
    color: black;
    padding: 100px;
}
nav{
    color-scheme: black;
}
h1{
    color-interpolation-filters: linearRGB;
}
h2{
    font-weight: 500;
}
h3{
font-weight : 400;
display: flex;
}
