*{
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    color: blue;
}
span{
    color: black;
}
nav{
    color-scheme: black;
}
h1{
    color-interpolation-filters: linearRGB;
}